@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* background-color: blue; */
  background-image: url(bak.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.im {
  background-image: url(News.jpeg);
  height: 500px;
  width: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: -200px; */
  
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space;
}

#news {
  border: 1px solid;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: lightgray;
}

#find {
  border: 1px solid;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: lightgray;
}

#sch {
  padding: 10px;
}

.results  {
  border: 1px solid;
  /* width: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: lightgray;
  padding-left: 10px;
  /* background-image: url(blog6.jpeg); */
  color: aliceblue;
  
}


.results a {
  /* border: 1px solid;
  /* width: 400px; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: lightgray;
  padding-left: 10px; */
  /* background-image: url(blog6.jpeg); */
  /* color: aliceblue;
   */
}

.news {
  background-image: url(news.jpeg);
  background-size: 100%;
  border: 1px solid;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}